/*
################################################################################
## SICEM - UFC 
################################################################################
## Estilos - Página Equipamentos - Blueprint Principal
################################################################################
*/


/* Centralizar células do cabeçalho da tabela */
.table>thead>tr>th {
  text-align: center;
  vertical-align: middle;
}

/* Centralizar células do corpo da tabela */
.table>tbody>tr>td {
  text-align: center;
  vertical-align: middle;  
}

/* Filtros */

/* Esconder formulário quando não há filtros selecionados */
table.filters {
    border-collapse: collapse;
    border-spacing: 4px;
}

/* Ajustar margens do formulário quando há filtros selecionados */
table.filters:not(:empty) {
    margin: 12px 0px 20px 0px;
}

/* Espaço entre o botão do filtro e campos de operação e de valor */
table.filters tr td {
    padding-right: 5px;
    padding-bottom: 3px;
}

/* Largura dos campos tipo Select2 (operação e valor do filtro) */

.filters .filter-op {
    width: 130px;
}

.filters .filter-val {
    width: 220px;
}