{% extends "base.html" %}


{% block page_title %}Usuário Não Confirmado{% endblock %}


{% block page_content %}
  <div class="page-header">
    <h1>Usuário Não Confirmado</h1>
  </div>

  <h3>Você ainda não confirmou seu cadastro.</h3>
  <p>Para acessar esta página você precisa confirmar seu cadastro.</p>
    
  <p>Confira a sua caixa de entrada, um email com um link de confirmação foi enviado para você.</p>

  <p>Confira também o seu lixo eletrônico, o email de confirmação pode ter sido classificado incorretamente como spam.</p>
  
  <p>
    Precisa de outro email de confirmação?
    <a href="{{ url_for('autenticacao.reenviar_confirmacao') }}">
     Clique aqui
    </a>.
  </p>
{% endblock %}