{# Template da página de consumo #}

{# Estende o template base #}
{% extends "base.html" %}

{# Título da Página #}

{% block page_title %}Consumo{% endblock %}

{# Definir aba ativa #}
{% set active_tab = 'consumo' %}

{# Conteúdo da Página #}

{% block page_content %}
	<div class="page-header">
	<h1>Consumo</h1>
	</div>
	
	<p>A Resolução 414/2010 da ANEEL define os diferentes tipos de conjunto de tarifas aplicáveis às componentes de consumo de energia elétrica e demanda de potência ativas. Tais conjuntos são denominados de modalidade tarifária, sendo as seguintes modalidades utilizadas pela UFC:</p>
	<ul>
		<li>Modalidade Tarifária Horária Verde: caracterizada por tarifas diferenciadas de consumo de energia elétrica, de acordo com as horas de utilização do dia, assim como de uma única tarifa de demanda de potência.</li>
		<li>Modalidade Tarifária Convencional Monômia: caracterizada por tarifas de consumo de energia elétrica, independentemente das horas de utilização do dia.</li>
	</ul>
	<p>Na Modalidade Tarifária Horária Verde, os dias úteis são divididos em dois períodos: Horário de Ponta e Horário Fora de Ponta. O Horário de Ponta compreende 3 horas do dia (17h:30min às 20h:30min), sendo que neste horário o valor da tarifa de consumo é significativamente maior (cerca de 4 vezes) que o valor da tarifa no Horário Fora da Ponta. O objetivo dessa diferença de tarifa é estimular o deslocamento de parte da carga para os horários em que o sistema elétrico estiver menos carregado (Horário Fora de Ponta). </p>

	<div id="historicoAnualConsumo" style="height: 300px;"></div>
	<div id="historicoMensalConsumo" style="height: 400px;"></div>
	<div id="hoverinfo" style="margin-left:80px;"><br><br></div>
	
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="text/javascript">
		var meses = ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"];
		var consumo2016 =  {// kWh
			ponta: [77071, 95071, 88071, 103071, 118071, 119071, 119071, 92071, 112071, 112071, 116071, 106071],
			foraPonta: [915203, 999203, 1074203, 1098203, 1262203, 1229203, 1189203, 1068203, 1190203, 1200203, 1238203, 1263203]
		};
		var tarifa2016 = {// R$/kWh
			ponta: [1.55266, 1.53633, 1.48947, 1.51480, 1.59082, 1.68935, 1.67042, 1.62723, 1.67338, 1.71156, 1.6974, 1.71416],
			foraPonta: [0.4527, 0.41851, 0.38843, 0.37868, 0.38407, 0.40789, 0.40332, 0.39289, 0.40403, 0.41325, 0.41498, 0.42423]
		};
		
		var conta2016 = {	// R$
			ponta: [],
			foraPonta: []
		};
		for(var i = 0; i < 12; i++) {
			conta2016.ponta.push(consumo2016.ponta[i]*tarifa2016.ponta[i]);
			conta2016.foraPonta.push(consumo2016.foraPonta[i]*tarifa2016.foraPonta[i]);
		}
		
		var consumo2017 = {	// kWh
			ponta: [68071, 96071, 74071],
			foraPonta: [814203, 1036203, 878203] 
		};
		var tarifa2017 = { // R$/kWh
			ponta: [1.70153, 1.70051, 1.72301],
			foraPonta: [0.41083, 0.41058, 0.42393]
		};
		var conta2017 = {	//R$
			ponta: [],
			foraPonta: []
		};
		for(var i = 0; i < consumo2017.ponta.length; i++) {
			conta2017.ponta.push(consumo2017.ponta[i]*tarifa2017.ponta[i]);
			conta2017.foraPonta.push(consumo2017.foraPonta[i]*tarifa2017.foraPonta[i]);
		}
		//////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////

		var consumoTotal2015 = 0;
		var consumoTotal2016 = 0;
		for(var i = 0; i < consumo2016.ponta.length; i++) {
			consumoTotal2016 += consumo2016.ponta[i] + consumo2016.foraPonta[i];
		}
		var consumoTotal2017 = 0;
		for(var i = 0; i < consumo2017.ponta.length; i++) {
			consumoTotal2017 += consumo2017.ponta[i] + consumo2017.foraPonta[i];
		}

		var param = consumoTotal2016;

		var data = [{
		  type: 'bar',
		  x: [(consumoTotal2017/param), (consumoTotal2016/param), 0.9352],
		  y: ['Ano 2017', 'Ano 2016', 'Ano 2015'],
		  orientation: 'h'
		}];

		var layout = {
		    title: 'Histórico anual do consumo de energia elétrica',
		    xaxis: {
				title: 'Consumo parametrizado pelo ano anterior',
				tickformat: ',.2%',
				fixedrange: true
			},
			yaxis: {
				fixedrange: true
			}
		};

		Plotly.newPlot('historicoAnualConsumo', data, layout);

		//////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////

		var consumoForaPonta = {
		  x: meses,
		  y: consumo2016.foraPonta,
		  name: 'Fora de ponta',
		  type: 'bar',
		  visible: true
		};
		var consumoPonta = {
		  x: meses,
		  y: consumo2016.ponta,
		  name: 'Ponta',
		  type: 'bar',
		  visible: true
		};
		var contaForaPonta = {
			x: meses,
			y: conta2016.foraPonta,
			name: 'Fora de ponta',
			type: 'bar',
			visible: false
		};
		var contaPonta = {
			x: meses,
			y: conta2016.ponta,
			name: 'Ponta',
			type: 'bar',
			visible: false
		};

		
		var layout = {
		    title: 'Histórico mensal do consumo de energia elétrica',
		    xaxis: {
				title: 'Meses do ano'
			},
			yaxis: {
				title: 'Consumo',
				fixedrange: true
			},
			barmode: 'stack',
		    updatemenus: [/*{
		        y: 0.8,
		        yanchor: 'top',
		        buttons: [{
		            method: 'restyle',
		            args: ['line.color', 'red'],
		            label: 'red'
		        }, {
		            method: 'restyle',
		            args: ['line.color', 'blue'],
		            label: 'blue'
		        }, {
		            method: 'restyle',
		            args: ['line.color', 'green'],
		            label: 'green'
		        }]
		    }, */{
		        y: 1,
		        yanchor: 'top',
		        buttons: [{
		            method: 'restyle',
		            args: [{visible: [true, true, false, false]}],
		            label: 'Consumo em kWh'
		        }, /*{
		        	method: 'relayout',
		            args: [{'yaxis.title': 'kWh'}],
		            label: 'kWh'
		        }, */{
		            method: 'restyle',
		            args: ['visible', [false, false, true, true]],
		            label: 'Consumo em R$'
		        }]
		    }],
		};

		
		Plotly.plot('historicoMensalConsumo', [consumoForaPonta, consumoPonta, contaForaPonta, contaPonta], layout);

		var myPlot = document.getElementById('historicoMensalConsumo');
		var hoverInfo = document.getElementById('hoverinfo');

		myPlot.on('plotly_hover', function(data){
		    var total = data.points[0].y + data.points[1].y;
		    var infotext = data.points[0].data.name + ': ' + (data.points[0].y/total*100).toFixed(2) + '%' + '<br>'
		    			 + data.points[1].data.name + ': ' + (data.points[1].y/total*100).toFixed(2) + '%';
		    
		    hoverInfo.innerHTML = infotext;
		})
		 .on('plotly_unhover', function(data){
		    hoverInfo.innerHTML = '<br><br>';
		});

	</script>

{% endblock %}

