{% extends "base.html" %}


{% block page_title %}Equipamentos - {{ bloco.nome }}{% endblock %}


{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/principal/equipamentos_bloco.css') }}">
{% endblock %}


{% set active_tab = 'equipamentos' %}


{% block page_content %}
  <div class="page-header">
    <h1>Equipamentos: {{ bloco.nome }}</h1>
    <h4>{{ bloco.departamento.nome }} > {{ bloco.departamento.centro.nome }} > {{ bloco.departamento.centro.campus.nome }}</h4>
  </div>

  {% for (tipo_equipamento, lista_equipamento) in ordem_alfa_dict %}
    <h3>{{ tipo_equipamento }}</h3>
    
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Tombamento</th>
          <th>Local</th>
          <th>Fabricante</th>
        </tr>
      </thead>
      <tbody>
        {% for equipamento in lista_equipamento %}
          <tr>
            <td>{{ equipamento.tombamento }}</td>
            <td>{{ equipamento.ambiente.nome }}</td>
            <td>{{ equipamento.fabricante }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endblock %}