{% extends "base.html" %}
{% import "macros.html" as macros with context%}


{% block page_title %}Equipamentos{% endblock %}


{% set active_tab = 'equipamentos' %}


{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/principal/equipamentos.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='externo/select2/select2.css', v='3.5.2') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='externo/select2/select2-bootstrap3.css', v='1.4.6') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='externo/daterangepicker/daterangepicker-bs3.css', v='1.3.22') }}">
{% endblock %}


{% block page_content %}
  <div class="page-header">
    <h1>Equipamentos</h1>
  </div>

  <ul class="nav nav-tabs">
    <!-- Filtros -->
    {% if filtros %}
      <li class="dropdown">
        {{ macros.filter_options() }}
      </li>
    {% endif %}
  </ul>

  {% if filtros %}
    {{ macros.filter_form() }}
    <div class="clearfix"></div>
  {% endif %}

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Tombamento</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Fabricante</th>
        <th>Ambiente</th>
        <th>Bloco</th>
        <th>Departamento</th>
        <th>Centro</th>
        <th>Campus</th>
      </tr>
    </thead>

    {% if equipamentos %}
      <tbody>
        {% for equipamento in equipamentos %}
          <tr>
            <td>{{ equipamento.tombamento }}</td>
            <td>{{ equipamento.tipo_equipamento }}</td>
            <td>{{ equipamento.categoria_equipamento }}</td>
            <td>{{ equipamento.fabricante }}</td>
            <td>{{ equipamento.ambiente.nome }}</td>
            <td>{{ equipamento.ambiente.bloco.nome }}</td>
            <td>{{ equipamento.ambiente.bloco.departamento.nome }}</td>
            <td>{{ equipamento.ambiente.bloco.departamento.centro.nome }}</td>
            <td>{{ equipamento.ambiente.bloco.departamento.centro.campus.nome }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      </table>
      <h4>Nenhum equipamento.</h4>
    {% endif %}

  <!-- Paginação -->
  {% if pagination %}
    <div class="pagination">
      {{ macros.pagination_widget(pagination, 'principal.equipamentos') }}
    </div>    
  {% endif %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='externo/select2/select2.min.js', v='3.5.2') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='externo/moment.min.js', v='2.9.0') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='externo/daterangepicker/daterangepicker.js', v='1.3.22') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/principal/form.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/principal/filters.js') }}"></script>

  <script language="javascript">
      (function($) {
          $('[data-role=tooltip]').tooltip({
              html: true,
              placement: 'bottom'
          });
          {% if filter_groups %}
              var filter = new AdminFilters(
                  '#filter_form', '.field-filters',
                  {{ filter_groups|tojson|safe }},
                  {{ active_filters|tojson|safe }}
              );
          {% endif %}
      })(jQuery);
  </script>
{% endblock %}