{# Template da página de listagem de manutenções agendadas #}

{# Estende o template base #}
{% extends "base.html" %}

{# Importar macros - funções auxiliares #}
{% import "macros.html" as macros with context %}

{# Título da Página #}

{% block page_title %}Manutenções Agendadas{% endblock %}

{# Definir aba ativa #}
{% set active_tab = 'manutencao' %}


{% block head %}
  {# Parte original do template base #}
  {{ super() }}

  {# Incluir CSS específico desta página #}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/principal/manutencao.css') }}">

  {# Incluir CSS de extensões sendo utilizadas #}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='externo/select2/select2.css', v='3.5.2') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='externo/select2/select2-bootstrap3.css', v='1.4.6') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='externo/daterangepicker/daterangepicker-bs3.css', v='1.3.22') }}">
{% endblock %}

{# Conteúdo da Página #}

{% block page_content %}
  <div class="page-header">
    <h1>Controle de Manutenções</h1>  
  </div>

  {# Abas para seleção entre manutenções abertas e agendadas e adição de filtros #}  
  <ul class="nav nav-tabs">
    <li role="presentation">
      <a href="{{ url_for('principal.manutencoes_abertas') }}">
        Manutenções Abertas
      </a>
    </li>

    <li role="presentation" class="active">
      <a href="javascript:void(0)">
        Manutenções Agendadas
      </a>
    </li>

    {# Adição de filtros #}
    {% if filtros %}
      <li class="dropdown">
        {{ macros.filter_options() }}
      </li>
    {% endif %}

    {# Botão para acessar a legenda de cores #}
    <button id="botao-legenda" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalLegenda">
      Legenda
    </button>
  </ul>

  {# Local onde serão adicionados os formulários dos filtros quando são adicionados #}

  {% if filtros %}
    {{ macros.filter_form() }}
    <div class="clearfix"></div>
  {% endif %}

  {# Tabela com a listagem de manutenções agendadas #}

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Tombamento</th>
        <th>Tipo de Equipamento</th>
        <th>Ambiente</th>
        <th>Bloco</th>
        <th>Departamento</th>
        <th>Centro</th>
        <th>Campus</th>
        <th>Próxima Manutenção</th>
        {% if current_user.pode_cadastrar() %}
          <th></th> 
        {% endif %}
      </tr>
    </thead>

    {% if equip_man_agendada %}
      <tbody>
        {% for equipamento in equip_man_agendada %}
          {# Classificação de cores: #}
          {# Atrasada = Vermelho #}
          {# Menos de 7 dias para próxima manutenção = Amarelo #}
          {# Menos de 30 dias para próxima manutenção = Azul #}
          {% if (equipamento.proxima_manutencao - data_hoje).days < 0 %}
            <tr class="danger">
          {% elif (equipamento.proxima_manutencao - data_hoje).days <= 7 %}
            <tr class="warning">
          {% elif (equipamento.proxima_manutencao - data_hoje).days <= 30 %}
            <tr class="info">
          {% else %}
            <tr>
          {% endif %}
              <td>{{ equipamento.tombamento }}</td>
              <td>{{ equipamento.tipo_equipamento }}</td>
              <td>{{ equipamento.ambiente.nome }}</td>
              <td>{{ equipamento.ambiente.bloco.nome }}</td>
              <td>{{ equipamento.ambiente.bloco.departamento.nome }}</td>
              <td>{{ equipamento.ambiente.bloco.departamento.centro.nome }}</td>
              <td>{{ equipamento.ambiente.bloco.departamento.centro.campus.nome }}</td>
              <td>{{ equipamento.proxima_manutencao.strftime('%d.%m.%Y') }}</td>

            {# Se o usuário puder realizar cadastros, é dada a opção de criar a manutenção - redirecionamento para view de criação de manutenção #}
            {% if current_user.pode_cadastrar() %}
              <td>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="equip{{ equipamento.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                  </button>
                  
                  <ul class="dropdown-menu opcoes_manutencao" aria-labelledby="equip{{ equipamento.id }}">
                    <li>
                      <a href="{{ url_for('manutencao.create_view',
                                          id=equipamento.id,
                                          url=url_for('principal.manutencoes_agendadas')) }}">
                        Criar Manutenção
                      </a>
                    </li>
                </div>              
              </td>             
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    </table>
    <h4>Nenhum equipamento com manutenção agendada.</h4>
  {% endif %}


  {# Paginação #}

  {% if pagination %}
    <div class="pagination">
      {{ macros.pagination_widget(pagination, 'principal.manutencoes_agendadas') }}
    </div>    
  {% endif %}


  {# Modal de Legenda de Cores #}

  <div class="modal fade" id="modalLegenda" tabindex="-1" role="dialog" aria-labelledby="labelModalLegenda">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="labelModalLegenda">Legenda de Cores</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr class="danger">
                <td>Manutenção atrasada</td>
              </tr>
              <tr class="warning">
                <td>Menos de 7 dias para próxima manutenção</td>
              </tr>
              <tr class="info">
                <td>Menos de 30 dias para próxima manutenção</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>  
{% endblock %}

{# Inclusão de JavaScript #}

{% block scripts %}
  {# Parte original do template base #}
  {{ super() }}

  {# Incluir JavaScript de extensões sendo utilizadas #}
  <script type="text/javascript" src="{{ url_for('static', filename='externo/select2/select2.min.js', v='3.5.2') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='externo/moment.min.js', v='2.9.0') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='externo/daterangepicker/daterangepicker.js', v='1.3.22') }}"></script>

  {# Incluir JavaScript de formulários e filtros (Adaptados do Flask-Admin) #}
  <script type="text/javascript" src="{{ url_for('static', filename='externo/form.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='externo/filters.js') }}"></script>

  {# JavaScript de identificação dos filtros disponíveis e ativos (Copiado do Flask-Admin) #}
  <script language="javascript">
      (function($) {
          $('[data-role=tooltip]').tooltip({
              html: true,
              placement: 'bottom'
          });
          {% if filter_groups %}
              var filter = new AdminFilters(
                  '#filter_form', '.field-filters',
                  {{ filter_groups|tojson|safe }},
                  {{ active_filters|tojson|safe }}
              );
          {% endif %}
      })(jQuery);
  </script>
{% endblock %}