{# Template para as views de edição do painel de administração #}

{# Estende o template original de view de edição do Flask-Admin #}
{% extends 'admin/model/edit.html' %}

{# Título da Página #}

{% block title %}
  {{ admin_view.name }} | Administração -  SICEM-UFC
{% endblock %}


{% block head %}
  {# Parte original do template do Flask-Admin #}
  {{ super() }}

  {# Incluir CSS comum às páginas do painel de administração #}
  {% include 'administracao/head.html' %}

  {# Incluir CSS específico desta página #}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/administracao/editar.css') }}">
{% endblock %}

{# Corpo da Página #}

{% block page_body %}
  {# Incluir cabeçalho da aplicação e barra de navegação #}
  {% include 'administracao/topo.html' %}

  {# Conteúdo da Página #}

  {% block body %}
    <div class="container">
      {# Mostrar nome da view atual #}
      <h3 style="margin-top: 0px;">
        {{ admin_view.name }}
      </h3>

      {# Parte original do template do Flask-Admin #}
      {{ super() }}

    </div>
  {% endblock %}
{% endblock %}

{# Parte Inferior da Página #}

{% block tail %}
  {# Incluir rodapé #}
  {% include 'administracao/rodape.html' %}

  {# Incluir JavaScript modificado dos filtros #}
  {% include 'administracao/form_scripts.html' %}

  {# Incluir JavaScript específico desta página #}
  <script type="text/javascript" src="{{ url_for('static', filename='js/administracao/editar.js') }}"></script>

  {# Esconder controles de edição do mapa em caso de edição de Centro ou Campus #}
  {# Funcionalidade não disponibilizada pela extensão Leaflet #}
  {% if (admin_view.name == "Centros") or (admin_view.name == "Campi") %}
    <style type="text/css">
      div.leaflet-draw.leaflet-control {
        display: none;
    </style>    
  {% endif %}
{% endblock %}