<p>Prezado administrador,</p>

<p>O usuário <b>{{ novo_usuario.nome }} [{{ novo_usuario.email }}]</b> solicitou cadastro no SICEM-UFC.</p>

<p>Para verificar este usuário, <a href="{{ url_for('autenticacao.verificacao', id=novo_usuario.id, _external=True) }}">clique aqui</a>.</p>

<p>Caso não reconheça este usuário, para cancelar a solicitação, <a href="{{ url_for('autenticacao.verificacao_negada', id=novo_usuario.id, _external=True) }}">clique aqui</a>.</p>

<p>Sinceramente,</p>

<p>Equipe SICEM-UFC.</p>

<p><small>Atenção: Não responda este email!</small></p>